body {
	font: 1em Verdana,sans-serif;
	background: #c4cdca;
	margin: 0px;
	padding: 0px;
}

.header {
	background: #000;
	color: white;
	padding-left: 13%;
	padding-right: 13%;
	padding-top: 2px;
	padding-bottom: 4px;
	text-align: right;
	font: 0.7em;
}

.header a {
	color: #AAA;
	text-decoration: none;
	border-bottom: 1px dotted #AAA;
}

.content-container {
	background: #000;
	width: 100%;
}

.content {
	background: #c4cdca url('../images/big_optimal.png') no-repeat right bottom;
	width: 100%;
}

.content .left {
	background: rgba(196, 205, 202, 0.5);
	margin-left: 12%;
	margin-right: 12%;
	padding: 5px;
}

.contact-container {
	background: #000;
	width: 100%;
	height: 136px;
	color: #FFF;
}

.contact-container a {
	font-size: 0.9em;
	text-decoration: none;
	line-height: 150%;
	text-decoration: underline;
	color: #AAA;
}

.contact-container a:hover {
	color: #FFF;
}

.box {
	padding-left: 12%;
	padding-right: 12%;
}

.margin-in-bottom {
	float: right;
	margin-top: 27px;
	height: 50px;
}

.contact {
	background:  url('../images/contact.png') no-repeat left center;
	padding-left: 70px;
	line-height: 110%;
}

.copyright {
	margin-left: 40px;
	background:  url('../images/copyright.png') no-repeat left center;
	padding-left: 40px;
	line-height: 110%;
	font-size: 0.7em;
}

.bug {
	float:left;
	padding-left: 50px;
	background:  url('../images/report-bug.png') no-repeat left center;
}

.head {
	font-weight: bold;
	display: block;
}


.menu {
	margin: 40px 40px 40px 40px;
}

.cover h3 {
	color: #b31915;
}

.cover-list {
	padding-top: 10px;
	padding-bottom: 20px;
}

.screenshot {
	float: right;
	background: url('http://media.openttd.org/images/screens/0.4.8/desert_junction_thumb.png') no-repeat;
	width: 240px;
	height: 184px;
	text-align: center;
	font-size: 0.7em;
	color: #222;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.controls {
	padding-top: 5px;
	font-size: 1.2em;
}

.controls a {
	margin-right: 10px;
}

.button {
    font-size: 1em;
    padding: 7px 20px 7px 20px;
    background: none repeat scroll 0% 0% rgb(234, 236, 234) !important;
    color: rgb(34, 34, 34) !important;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-transition-duration: 0.2s;
    -moz-user-select: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.green {
	background: none repeat scroll 0% 0% rgb(134, 234, 134) !important;
}

.social {
	overflow: hidden;
	width: 170px;
	padding-top: 7px;
}

.form {
	margin: 20px;
}

.form a.customize {
	color: #555;
}

.form .error {
	background: #FAA;
	text-align: center;
	padding: 5px;
	border: 1px solid #AAA;
	border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.form label {
	font-size: 1em;
}

.form input {
	margin: 5px 5px 15px 15px;
	border-radius: 3px;
	border: 1px solid #ada9a5;
	padding: 4px;
	box-shadow: inset 0 0 3px #f1f0ef;
	outline: none;
	font-size: 1em;
}

.form input[type="text"],
.form input[type="password"] {
	display: block;
	width: 250px;
}

.form input:focus {
	border: 1px solid #cd5728;
	box-shadow: inset 0 0 3px #ffcfbc;
}

.form div {
	margin: 50px 5px 5px 5px;
}