<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <% vars.commons.title %>
    <% vars.commons.meta %>
    <% vars.commons.css %>
    <% vars.commons.script %>

    <link rel="stylesheet" href="<% request.uri_base %>/stylesheets/empty.css" />
    <script type='text/javascript' src='<% request.uri_base %>/javascripts/cookie.js'></script>
  </head>
  <body>
     <% content %>
  </body>
</html>