<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<% vars.locale %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <% vars.commons.title %>
    <% vars.commons.meta %>
    <% vars.commons.css %>
    <% vars.commons.script %>

    <link rel="stylesheet" href="<% request.uri_base %>/legacy/stylesheets/style.css?v=1.0" />
    <% FOREACH href = css %>
      <link rel="stylesheet" href="<% request.uri_base %>/<% href %>" />
    <% END %>
  </head>
  <body>

  <% vars.commons.advertisment %>
  <% vars.commons.header %>
	<% content %>
 
  </body>
</html>
