<!doctype html>
<html>
  <head>
    <% vars.commons.title %>
    <% vars.commons.meta %>
    <% vars.commons.css %>
    <% vars.commons.script %>

    <link rel="stylesheet" href="<% request.uri_base %>/stylesheets/styles.css">
    <link rel="stylesheet" href="<% request.uri_base %>/stylesheets/pygment_trac.css">
    <script src="<% request.uri_base %>/javascripts/style.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type='text/javascript'>
      var UUID = Engine['player-uuid'];
    </script>
  </head>
  <body>

    <% vars.commons.advertisment %>
    <% vars.commons.header %>

    <div class="wrapper">
      <section>
      	<% content %>
      </section>
      <footer>
        <p>Project maintained by <noindex><a href="https://github.com/caiiiycuk">Guryanov Aleksander
 (caiiiycuk)</a></noindex></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>