html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  font: 14px/22px Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0 20px 0px;
  /*background: url(../images/body-background.png) #eee;*/
  background: url(/images/body-background.png) #eae6d1;
}

form, .games {
	width: 768px;
	margin: 2em auto;
	padding: 1em;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(214, 214, 214, 0.8);
	border: 1px solid #ccc;
}

input[type="text"],
input[type="password"] {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #ccc;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

.w120 {
  width: 120px;
  display: inline-block;
}

.w350 {
  width: 350px;
  display: inline-block;
}

.padding {
  padding-left: 20px;
}

.error {
  background: rgb(232, 202, 202);
  border: 1px solid gray;
  padding: 5px;
  font-weight: bold;
}

.dune2 {
  background: url('/commons/images/dune2.png') no-repeat left 5px;
  min-height: 120px;
  padding-left: 200px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.ttd {
  background: url('/commons/images/ttd.png') no-repeat left top;
  min-height: 120px;
  padding-left: 200px;
  margin-left: 20px;
  margin-bottom: 30px;
}